.main-section {
    height: fit-content;
    margin: 75px 0 10px 0;
    background-color: #293241;
    font-size: 14px;
    box-sizing: content-box;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
   border-radius: 20px;
   border: 6px solid transparent;
   background-clip: content-box;
  }

@media (max-width: 767px) {
    .main-section {
       font-size: 12px;
    }
}