.main-section {
    height: fit-content;
    margin: 75px 0 10px 0;
    background-color: #293241;
    font-size: 14px;
    box-sizing: content-box;
}

@media (max-width: 767px) {
    .main-section {
       font-size: 12px;
    }
}