.courseGradeSection {
    background-color: #98C1D9;
    margin: 20px;
    font-size: 15px;
    padding: 5px;
    color: rgba(0, 0, 0, 50%)
}

.inputCiclo {
    background-color: #98C1D9;
    color: rgba(0, 0, 0, 50%);
    min-width: 100px;
    max-width: 100px;
    font-size: 14px;
}

.selectReport {
    background-color: #98C1D9;
    min-width: fit-content;
    width: fit-content;
    max-width: fit-content;
    height: fit-content;
    font-size: 18px;
    color: grey;
    margin: 0px 5px 0px 5px;
    border-radius: 20px;
    text-align-last: center;
    padding: 15px 15px 15px 15px;
}

::placeholder {
    color: rgba(240, 240, 240, 25%);
}
