.container{
    
    background-image: url(./imagen/portada.jpg);
}

header .banner-text h1 {
    color:#293241 ;
}
header .banner-text h3{
    color: #293241;
    font-size: 20px;
    font-weight: bold;
}
