.container{
    
    background-image: url(./imagen/portada.jpg);
}

header .banner-text h1 {
    color:BLACK ;
    
    /* background-color: blue; */
}
header .banner-text h3{
    color: white;
    background-color: rgba(24, 21, 13, 0.767);

    font-size: 20px;
    font-weight: bold;
}
